@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  width: 85%;
}
.content-wrap {
  background-color: #FDFDFD;
  margin-top: -5%;
  margin-bottom: 4%;
  padding: 6% 3% 3% 3%;
  position: relative;
  z-index: 1;
}
.content-wrap:before,
.content-wrap:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.3);
  top: 10px;
  bottom: 5px;
  left: 0;
  right: 0;
  border-radius: 10px;
}
.content-wrap:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}
.event-card {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  padding: 5% 5% 0 5%;
  position: relative;
  background-color: #FDFDFD;
}
.event-card p.card-tag {
  background-color: grey;
  color: white;
  margin-top: 0;
  padding: 2% 0 2% 7%;
  width: 80%;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  z-index: 99;
}
.card-calendar {
  padding: 0;
}
.card-calendar p.card-tag {
  margin: 0%;
  background-color: #e36851;
  width: 100%;
  padding: 6%;
}
.card-calendar p.card-tag .fa {
  margin-right: 5%;
  text-align: center;
  float: left;
}
.card-calendar .more-concerts .card-tag {
  margin-bottom: 1em;
  background-color: #dc4225;
  color: white;
  margin-left: 20%;
  line-height: 2.5;
  padding-left: 1.5em;
}
.event-card div.calendar-item:not(:last-of-type) {
  border-bottom: 1px dotted grey;
}
.calendar-item {
  padding: 6% 1%;
}
.calendar-item .event-date {
  float: left;
  padding-top: 1%;
  margin: 0;
  max-width: 23%;
  text-align: center;
  width: 20%;
}
.calendar-item .event-date .date-only {
  display: block;
}
.calendar-item .event-date .month,
.calendar-item .event-date .day,
.calendar-item .event-date .time {
  display: block;
  text-align: center;
}
.calendar-item .event-date .month {
  text-transform: uppercase;
  line-height: 1em;
}
.calendar-item .event-date .day {
  font-size: 1.8em;
}
.calendar-item .event-date .time {
  font-size: .9em;
}
.calendar-item .event-info {
  border-left: 2px solid #dc4225;
  max-width: 75%;
  padding-left: 5%;
  float: left;
}
.calendar-item .event-info a h3 {
  color: black;
  margin-top: 0;
  font-size: 1.1em;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
.calendar-item .event-info p {
  font-size: .9em;
  margin-bottom: 0px;
  margin-top: 4px;
  line-height: 1.5;
}
.calendar-item .event-date,
.calendar-item .event-info p {
  color: #4d4d4d;
}
.masonry-item {
  display: inline-block;
  width: 100%;
}
@media (min-width: 500px) {
  .masonry-grid {
    column-count: 2;
    column-gap: 1em;
  }
}
@media (min-width: 850px) {
  .masonry-grid {
    column-count: 3;
    column-gap: 1em;
    width: 100%;
  }
}
